* {
  margin: 0;
  padding: 0;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font: 'Roboto Condensed';
  font-weight: 300;
  color: white;
  /* background: black !important; */
  background: none #141414 !important
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  transition: 1s;
  -webkit-transition: 1s;
  width: 100%;
  height: 5vw;
}
header a {
  transition: 1s;
}

h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
}
h1 + h2 {
  color: white !important;
  top: 58% !important;
  text-align: center;
}
section {
  position: relative;
  padding: 10vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin-top: 7vw;
  margin-bottom: 7vw;
  /* background: #464555; */
}
img {
  max-width: 100%;
}
h2 {
  padding: 0.5vw 0 0.5vw 0;
  /* background: none #28313E !important; */
  /* padding: 0.5vw;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  text-align: center; */
}
h2, p {
  color: white !important;
}
p {
  font-weight: bold;
}

.hamburger-inner:before, .hamburger-inner:after, .hamburger-inner {
  background-color: white !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}

.centered-absolute {
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin: auto;
}

.welcome {
  white-space: nowrap;
  top: 23vw;
}

.centered-relative {
  display: block;
  position: relative;
  margin: auto;
}

.background-image {
  background-position: center center;
  background-size: cover;
}

.navigation {
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}
.navigation .logo {
  width: 10vw;
  position: relative;
  top: 0vw;
  left: 1vw;
}

.navigation-container {
  background: rgba(0,0,0,0) !important;
  display: flex;
  width: 65%;
  margin: auto;
  margin-left: 40%;
  margin-right: 10%;
  position: relative;
}

.navigation li {
  flex-grow: 1;
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
}

a.navigation__link {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-align: center;
  color: white;
  position: relative;
  text-decoration: none;
  line-height: 2vw;
  width: 80%;
  margin: auto;
}

.tree-container {
  background-image: url('../img/wood.jpeg');
  background-position: center;
  background-size: cover;
  left: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
}
.tree-container__preview-image {
  background: url(../img/patio.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  left: 45%;
  top: 15%;
  width: 35vw;
  height: 35vw;
  padding: 5vw;
}
.tree-container__fb {
  background: rgb(224, 180, 93) !important;
  left: 70%;
  top: 50%;
  width: 15vw;
  height: 15vw;
  padding: 5vw;
}
.right-arrow {
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  position: absolute;
  background: #232B4B !important;
  right: 8%;
  bottom: 32%;
  margin: auto;
  width: 1vw;
  height: 1vw;
}
.tree-container__fb h2 {
  font-weight: bold;
  /* max-width: 50%; */
  text-align: right;
  color: #232B4B !important;


}
.tree-container__supporting-text {
  top: 40% !important;
  left: 30%;
  z-index: 2;
  max-width: 30vw;
}
.tree-container__supporting-text h1, .tree-container__supporting-text h2 {
  text-align: left;
}
.tree-container__banner-image {
  z-index: 1;
  width: 10%;
}
.tree-container__shader {
  background: rgba(0,0,0,0.3);
  position: absolute;
}
.tree-container__shader--left {
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
}
.tree-container__shader--right {
  top: 0;
  right: 0;
  height: 100%;
  width: 5%;
}
.tree-container__shader__icon {
  width: 50%;
  top: 50%;
  position: relative;
  margin: auto;
  display: block;
}
.tree-container__shader h3 {
  transform: rotate(-90deg);
  position: absolute;
  color: white;
  bottom: 25%;
  left: -30%;
}

@media screen and (min-width: 768px) {
  header.minimized {
    background: #1c1c1c !important;
    box-shadow: 3px 3px 3px black !important;
    height: 3.8vw;
  }
  .hamburger {
    display: none !important;
  }
}


@media screen and (max-width: 768px) {
  header {
    width: 30%;
    left: -32%;
    height: 100%;
    transition: 1s;
    background: #1c1c1c !important;
    box-shadow: 3px 3px 3px black !important;
  }
  div.navigation{
    background: #1c1c1c !important;
  }
  header.is-active {
    left: 0;
  }
  .hamburger {
    top: 0%;
    left: 0%;
    position: fixed;
    z-index: 4;
  }
  .navigation-container {
    flex-direction: column;
    margin: auto;
    margin-top: 65%;
  }
  ul.navigation-container li {
    margin: 5vw 0 5vw 0;
    width: 100%;
  }
  ul.navigation-container li a {
    text-align: left;
  }
  .navigation__link {
    border-top: 0;
    width: 100%;
    text-align: left;
  }
  a.navigation__link::after, a.navigation__link::before {
    display: none;
  }
  .tree-container__header {
    display: none;
  }
}
#our-motto {
  /* background: green; */
  background-image: url(../img/bathroom-background.jpg);
  background-attachment: fixed;
  background-size: 100%;
  color: white;
}
#our-motto  {
  text-align: right;
}
#aspects-of-carpentry {
  min-height: 30vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
}
#aspects-of-carpentry .col-sm-4{
  /* border: 1px solid brown; */
  border: 1px solid #444 !important
}
.our-motto__supporting-image {
  background: url(../img/patio-background.jpg);
  text-align: center;
  width: 15vw;
  height: 15vw;
  background-size: 200%;
}
#gallery {
  background-image: url(../img/tiles.jpg);
  background-size: 100%;
  color: white;
}
.section__support-text {
  background: rgba(0,0,0,0.5);
  padding: 3vw 0 3vw 0;
  color: white;
}

@media screen and (min-width: 1367px) {
  a.navigation__link {
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
}
@media screen and (min-width: 768px) {
  header.minimized {
    background: white !important;
    box-shadow: 3px 3px 13px black !important;
    height: 3.8vw !important;
  }
  header.minimized a {
    color: black !important;
  }
  .hamburger {
    display: none !important;
  }
}
footer {
  /* height: 10vh; */
  background: green;
  padding: 1vw 4vw 1vw 4vw;
  background: none #28313E !important;
  color: black;
}
.design-by {
  text-align: right;
}
.quote {
  font-weight: 1000;
  color: #CCC !important;
}
